$color-number: #109cd8;
$color-operation:#ff0000;
$color-clear: #ffa600;
$color-screen: #ececec;
$color-light:#fff;
$color-dark:#000;
$color-border: #aca3a3;
$color-hover-operation:#e282f8;
$color-hover-clear:#0bbf68;