.calculator-buttons__button {
  position: relative;
  padding: 25px 30px;
  font-size: 20px;
  text-align: center;
  transition: 0.5s;
  overflow: hidden;
  border: 1px solid $color-border;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px $color-dark;
  &:hover {
    background-color: $color-number;
    color: $color-light;
  }
}

.operation-button {
  background-color: $color-operation;
  color: $color-light;
  &:hover {
    background-color: $color-hover-operation;
  }
}
.clear-button {
  background-color: $color-clear;
  color: $color-light;
  &:hover {
    background-color: $color-hover-clear;
  }
}
.ce-button,
.equally-button {
  grid-column: span 2;
}

.click-effect {
  position: absolute;
  background-color: $color-light;
  border-radius: 50%;
  animation: click-effect 0.3s ease-out;
  transform: scale(0);
}

.press-effect {
  animation: press-effect 0.3s ease;
}

@keyframes click-effect {
  to {
    background-color: $color-light;
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes press-effect {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 0 5px 1px $color-dark;
  }
}
