.calculator-screen {
  background-color: rgb(236, 236, 236);
  width: 87%;
  height: 70px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  border: 1px solid rgb(0, 0, 0);
  
  
  input {
    font-size: 20px;
    background-color: inherit;
    font-family: 'Audiowide', cursive;
    width: 90%;
    text-align: end;
    color: rgb(0, 157, 255);
  }
}
